<table class="body-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;" bgcolor="#f6f6f6">
    <tbody>
    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top"></td>
        <td class="container" width="600" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;" valign="top">
            <div class="content" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
                <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope="" itemtype="http://schema.org/ConfirmAction" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; margin: 0; border: none;">
                    <tbody><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="content-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;padding: 30px;border: 3px solid #67a8e4;border-radius: 7px; background-color: #fff;" valign="top">
                            <meta itemprop="name" content="Confirm Email" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                            <table width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                <tbody>
                                <tr style="...">
                                    <td class="content-block" style="..." valign="top">
<!--                                        Hello <strong style="..." th:text="${firstName} + ${lastName},"></strong>-->
                                        Dear <span style="..." th:text="${name}"></span>
<!--                                        Dear <strong style="..." th:text="${name}"></strong>-->
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td> <!-- This creates a new line -->
                                </tr>
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                        I hope this email finds you well. My name is Marcos Ondruska, and I'm thrilled to join The Manor Golf and Country Club as a tennis professional. With over a decade of ATP Tour experience, including participation in Grand Slams and a peak ATP ranking of #27 in singles, I bring a wealth of knowledge and experience to you and the club.
                                    </td>
                                </tr>
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="content-block" itemprop="handler" itemscope="" itemtype="http://schema.org/HttpActionHandler" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
<!--                                        <img src="cid:image2" style="width: 150px; display: block">-->
<!--                                        <div style="text-align: center;">-->
<!--                                            <img src="cid:image2" style="width: 150px; display: inline-block;">-->
<!--                                            <img src="cid:image4" style="width: 150px; display: inline-block;">-->
<!--                                            <img src="cid:image5" style="width: 150px; display: inline-block;">-->
<!--                                            <-->
<!--                                        </div>-->
                                        <div style="text-align: center;">
                                            <img src="cid:image2" style="height: 150px; display: inline-block;">
                                            <img src="cid:image4" style="height: 150px; display: inline-block;">
                                            <img src="cid:image5" style="height: 150px; display: inline-block;">
                                        </div>
                                    </td>
                                </tr>
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                        I have a rich tennis background, including participating in the 1996 Olympics, leading the South African Davis Cup team, and coaching at both ATP Tour and high-performance academy levels. This journey has not just been about personal achievement, but also about fostering talent and passion in others, whether they are beginners or advanced players.
                                    </td>
                                </tr>
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                        At The Manor, I'm offering private and group lessons for both adults and children. In my role as a tennis coach, my approach is anchored in cultivating success on the court. This involves a holistic focus on key elements such as technical proficiency, psychological preparedness, physical fitness, and nutritional awareness, all of which are critical in shaping well-rounded, successful tennis players. My goal is to help you achieve your personal best, whether you're picking up a racket for the first time or looking to refine your competitive edge.
                                    </td>
                                </tr>
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="content-block" itemprop="handler" itemscope="" itemtype="http://schema.org/HttpActionHandler" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                        <div style="text-align: center;">
<!--                                            <img src="cid:image3" style="height: 150px; display: block; margin: 0 auto;">-->
                                            <img src="cid:image3" style="height: 150px; display: inline-block;">
                                            <img src="cid:image6" style="height: 150px; display: inline-block;">
                                            <img src="cid:image7" style="height: 150px; display: inline-block;">
                                        </div>

                                    </td>
                                </tr>
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                        I'm excited to meet each of you and start this journey together. To schedule a lesson or for any queries, please feel free to contact me at marcosondruska@gmail.com or by phone at 843 295 9027.Additionally, Alejandro is also available to assist you. You can reach him at alejandro.garcia@invitedclubs.com . We both look forward to assisting you in enhancing your tennis skills and ensuring a great experience at The Manor Golf and Country Club.
                                    </td>
                                </tr>
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                        Looking forward to seeing you on the court!
                                    </td>
                                </tr>

                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                        <p>Best regards,</p>
                                        <p>Marcos Ondruska</p>
                                    </td>
                                </tr>
<!--                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">-->
<!--                                    <td class="content-block" itemprop="handler" itemscope="" itemtype="http://schema.org/HttpActionHandler" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">-->
<!--                                        <div style="text-align: center;">-->
<!--                                            <img src="cid:image" style="height: 150px; display: block; margin: 0 auto;">-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash;                                        <br>&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                        <a href="#" class="btn-primary" itemprop="url" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #f06292; margin: 0; border-color: #f06292; border-style: solid; border-width: 8px 16px;">Confirm&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                            email address</a>&ndash;&gt;-->
<!--                                    </td>-->
<!--                                </tr>-->
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="content-block" style="text-align: center;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0;" valign="top">
                                        &copy; 2018 The Tennis Institute
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>
            </div>
        </td>
    </tr>
    </tbody>
</table>
